@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 300vh;
  overflow-x: hidden;
  font-family: muli, sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  position: relative;
  width: 100%;
}

a {
  text-decoration: none;
}

.bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
.bg img {
  position: absolute;
  top: -10%;
  object-fit: cover;
  width: 120%;
  height: 120%;
  z-index: -1;
  opacity: 1;
}

header nav {
  position: fixed;
  width: 100%;
  padding-top: 40px;
  top: 0;
  z-index: 10;
  transition: 0.5s;
}
header nav.sticky {
  padding: 5px 0;
  background-color: #001927;
  box-shadow: 0px 5px 25px -6px rgba(0, 0, 0, 0.75);
}
header nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .container img {
  width: 90px;
}
header nav .container .hamburger {
  display: none;
}
header nav .container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
header nav .container ul li {
  margin: 0 40px;
}
header nav .container ul li a {
  color: white;
  font-size: 16px;
}
header nav .container ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: white;
  transition: width 0.5s;
}
header nav .container ul li a:hover::after {
  width: 100%;
}
header nav .container ul li:last-child {
  margin-right: 0px;
}

main {
  width: 100%;
}
main .home-banner {
  height: 100vh;
}
main .home-banner .container {
  padding-top: 1px;
  margin-top: -1px;
  height: 100%;
}
main .home-banner .container .home-banner__content {
  color: white;
  position: absolute;
  top: 60%;
  left: 0;
  transform: translateY(-50%);
}
main .home-banner .container .home-banner__content__slider-box {
  width: 650px;
  overflow: hidden;
}
main .home-banner .container .home-banner__content__slider-box__slider {
  display: inline-flex;
  transition: 0.5s;
}
main .home-banner .container .home-banner__content__slider-box__slider__slide {
  width: 650px;
}
main .home-banner .container .home-banner__content__slider-box__slider__slide h2 {
  font-size: 40px;
  font-weight: 200;
}
main .home-banner .container .home-banner__content__slider-box__slider__slide h2 p {
  display: block;
  color: #00b6dc;
  margin: 20px 0;
}
main .home-banner .container .home-banner__content__slider-box__slider__slide .btn {
  width: 200px;
  padding: 20px 0;
  margin-right: 20px;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
  text-align: center;
  border: 2px solid #f0f3f5;
  transition: 0.5s;
}
main .home-banner .container .home-banner__content__slider-box__slider__slide .btn.first {
  background-color: white;
  width: 190px;
  color: #002841;
}
main .home-banner .container .home-banner__content__slider-box__slider__slide .btn.first:hover {
  color: white;
  background-color: transparent;
  border-radius: 0%;
}
main .home-banner .container .home-banner__content__slider-box__slider__slide .btn.second {
  background-color: transparent;
  color: white;
  width: 230px;
}
main .home-banner .container .home-banner__content__slider-box__slider__slide .btn.second:hover {
  color: #002841;
  background-color: white;
  border-radius: 0%;
}
main .home-banner .container .home-banner__content .controller {
  position: absolute;
  top: 0;
  right: -93%;
  display: flex;
  flex-direction: column;
}
main .home-banner .container .home-banner__content .controller .radio {
  margin: 15px 0;
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s background-color;
}
main .home-banner .container .home-banner__content .controller .radio.active {
  background-color: orange;
}
main .home-banner .container .home-banner__content .controller .radio:hover {
  border: 2px solid orange;
}
main .home-banner .container .home-banner__content i {
  margin-top: 90px;
  font-size: 30px;
  cursor: pointer;
  margin-right: 15px;
  transition: 0.5s;
}
main .home-banner .container .home-banner__content i:hover {
  color: orange;
}
main .informations .container .informations__for-whom {
  display: flex;
  margin-top: 200px;
}
main .informations .container .informations__for-whom__text {
  flex-basis: 59%;
  padding-right: 70px;
  font-size: 18px;
  line-height: 1.778;
  color: #333333;
}
main .informations .container .informations__for-whom__text h2 {
  font-size: 36px;
  color: #002841;
  margin-top: 0px;
}
main .informations .container .informations__for-whom__text__title-list {
  margin-top: 70px;
}
main .informations .container .informations__for-whom__text ol {
  list-style-type: none;
}
main .informations .container .informations__for-whom__text ol li {
  margin-bottom: 20px;
}
main .informations .container .informations__for-whom__text ol li i {
  font-size: 18px;
  margin-left: 35px;
  color: lightskyblue;
}
main .informations .container .informations__for-whom__img {
  flex-basis: 41%;
  height: 510px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 11px 35px 0px rgba(95, 95, 95, 0.22);
}
main .informations .container .informations__for-what {
  display: flex;
  margin-top: 200px;
}
main .informations .container .informations__for-what__text {
  flex-basis: 59%;
  padding-left: 70px;
  font-size: 18px;
  line-height: 1.778;
  color: #333333;
}
main .informations .container .informations__for-what__text h2 {
  font-size: 36px;
  color: #002841;
  margin-top: 0px;
}
main .informations .container .informations__for-what__img {
  flex-basis: 41%;
  height: 510px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 11px 35px 0px rgba(95, 95, 95, 0.22);
}
main .informations .container .informations__for-what__img__handshake {
  top: -27%;
  z-index: -2;
}
main .informations .container .informations__for-what__img__new {
  top: -10%;
  left: -10%;
  z-index: -1;
}
main .informations .container .informations__for-what__img img {
  position: absolute;
}
main .informations .container .informations__for-what__img p {
  position: absolute;
  top: 4%;
  z-index: 1;
  font-size: 26px;
  font-weight: bold;
  color: white;
  transform: rotate(315deg);
}
main .informations .container .informations__with-who {
  display: flex;
  margin: 200px 0;
}
main .informations .container .informations__with-who__text {
  flex-basis: 59%;
  padding-right: 70px;
  font-size: 18px;
  line-height: 1.778;
  color: #333333;
}
main .informations .container .informations__with-who__text h2 {
  font-size: 36px;
  color: #002841;
  margin-top: 0px;
}
main .informations .container .informations__with-who__img {
  flex-basis: 41%;
  height: 510px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 11px 35px 0px rgba(95, 95, 95, 0.22);
  z-index: 1;
}
main .informations .container .informations__with-who__img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
main .informations .container .informations__with-who__img img[alt=building] {
  position: absolute;
  left: -80%;
  top: -20%;
  z-index: -1;
}
main .informations .container .informations__with-who__img img[alt=play] {
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.5s;
}
main .informations .container .informations__with-who__img img[alt=play]:hover {
  background-color: rgba(0, 182, 220, 0.2);
}
main .popup.active .overlay {
  display: block;
}
main .popup.active .content {
  display: block;
}
main .popup .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 11;
  display: none;
}
main .popup .content {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
  text-align: center;
}
main .popup .content .close-btn {
  position: absolute;
  right: -50px;
  top: -60px;
  color: white;
  font-size: 46px;
  border-radius: 50%;
  cursor: pointer;
}

.form-section {
  background-color: #f5f8fa;
  padding: 50px 0;
}
.form-section .container .form-section__form {
  text-align: center;
}
.form-section .container .form-section__form h3 {
  color: #333333;
  font-size: 18px;
}
.form-section .container .form-section__form p {
  color: #7b94a5;
}
.form-section .container .form-section__form p.checkbox-text {
  margin-top: 0px;
  padding-left: 15px;
  text-align: left;
  font-size: 10px;
  color: #002841;
  font-weight: bold;
  line-height: 1.6;
}
.form-section .container .form-section__form form {
  margin: 40px auto 0px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.form-section .container .form-section__form form label {
  position: relative;
}
.form-section .container .form-section__form form label input[type=text], .form-section .container .form-section__form form label textarea {
  background-color: white;
  padding: 24px 12px 12px;
  margin-bottom: 20px;
  border-radius: 3px;
  font-size: 16px;
  width: 270px;
  border: none;
  appearance: none;
  outline: none;
  box-shadow: 0px 3px 6px 0px rgba(145, 154, 159, 0.08);
  transition: 0.3s;
}
.form-section .container .form-section__form form label input[type=text].invalid, .form-section .container .form-section__form form label textarea.invalid {
  border: 1px solid red;
}
.form-section .container .form-section__form form label input[type=text][id=email], .form-section .container .form-section__form form label textarea[id=email] {
  width: 100%;
}
.form-section .container .form-section__form form label input[type=text]:focus, .form-section .container .form-section__form form label textarea:focus {
  box-shadow: 0px 8px 8px 0px rgba(145, 154, 159, 0.16);
}
.form-section .container .form-section__form form label input[type=text]:focus::placeholder, .form-section .container .form-section__form form label textarea:focus::placeholder {
  color: transparent;
}
.form-section .container .form-section__form form label input[type=text]::placeholder, .form-section .container .form-section__form form label textarea::placeholder {
  color: transparent;
  transition: color 0.3s;
}
.form-section .container .form-section__form form label textarea {
  width: 100%;
  max-width: 100%;
  min-width: 150px;
  min-height: 100px;
  max-height: 600px;
}
.form-section .container .form-section__form form label .placeholder {
  position: absolute;
  left: 12px;
  top: calc(50% - 10px);
  transform: translateY(-50%);
  color: #aaa;
  transition: 0.3s;
  cursor: text;
}
.form-section .container .form-section__form form label .placeholder.textarea {
  top: 35px;
}
.form-section .container .form-section__form form label textarea:not(:placeholder-shown) + .placeholder,
.form-section .container .form-section__form form label input:not(:placeholder-shown) + .placeholder,
.form-section .container .form-section__form form label textarea:focus + .placeholder,
.form-section .container .form-section__form form label input:focus + .placeholder {
  top: 15px;
  font-size: 10px;
}
.form-section .container .form-section__form form input[type=submit] {
  width: 120px;
  padding: 15px;
  background-color: #00b6dc;
  box-shadow: 0px 11px 24px 0px rgba(0, 182, 220, 0.12);
  border-radius: 25px;
  border: 1px solid transparent;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  margin: 40px auto 0;
  transition: 0.5s;
  cursor: pointer;
}
.form-section .container .form-section__form form input[type=submit]:hover {
  color: #00b6dc;
  border: 1px solid #00b6dc;
  background-color: transparent;
}

footer {
  background-color: #001927;
}
footer .container p {
  color: white;
  position: absolute;
  bottom: 5%;
  right: 5%;
}
footer .container .footer-items {
  padding-top: 90px;
  padding-bottom: 90px;
  color: white;
  display: flex;
}
footer .container .footer-items__item:first-child {
  width: 300px;
}
footer .container .footer-items__item:first-child ul:first-child .footer-items__map {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
footer .container .footer-items__item:first-child ul:first-child .footer-items__map iframe {
  position: absolute;
  top: -240px;
  left: -230px;
}
footer .container .footer-items__item:first-child ul:first-child li {
  margin: 15px 0;
}
footer .container .footer-items__item:last-child {
  display: flex;
}
footer .container .footer-items__item:last-child ul {
  padding: 0 45px 0 0;
}
footer .container .footer-items__item:last-child ul:last-child {
  padding-right: 0px;
}
footer .container .footer-items__item:last-child ul li:first-child {
  font-weight: bold;
}
footer .container .footer-items ul {
  font-size: 15px;
  text-align: left;
  list-style-type: none;
  padding: 0;
}
footer .container .footer-items ul li {
  margin: 20px 0;
}
footer .container .footer-items ul li:first-child {
  margin-top: 0px;
}
footer .container .footer-items ul li a {
  color: white;
  position: relative;
  overflow: hidden;
  display: block;
}
footer .container .footer-items ul li a:hover span {
  transform: translateY(-100%);
}
footer .container .footer-items ul li a span {
  display: block;
  padding: 5px 0;
  transition: 0.2s;
}
footer .container .footer-items ul li a span:last-child {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  color: #00b6dc;
}

@media only screen and (max-width: 1300px) {
  .container {
    max-width: 800px;
    padding: 0 10px;
  }

  header nav .container ul li {
    margin: 0 20px;
  }

  main .home-banner .container .home-banner__content {
    margin-left: 10px;
  }
  main .home-banner .container .home-banner__content .controller {
    right: -35%;
  }
  main .informations .container .informations__for-whom {
    margin-top: 150px;
  }
  main .informations .container .informations__for-whom__text {
    padding-right: 50px;
  }
  main .informations .container .informations__for-whom__text p {
    font-size: 16px;
  }
  main .informations .container .informations__for-whom__text__title-list {
    margin-top: 50px;
  }
  main .informations .container .informations__for-whom__text ol li {
    margin-bottom: 15px;
  }
  main .informations .container .informations__for-whom__text ol li i {
    font-size: 16px;
    margin-left: 45px;
  }
  main .informations .container .informations__for-whom__img {
    height: 360px;
  }
  main .informations .container .informations__for-whom__img img {
    transform: scale(0.8);
    position: absolute;
    top: -100px;
    left: -100px;
  }
  main .informations .container .informations__for-what {
    margin-top: 150px;
  }
  main .informations .container .informations__for-what__text {
    padding-left: 50px;
  }
  main .informations .container .informations__for-what__text p {
    font-size: 16px;
  }
  main .informations .container .informations__for-what__img {
    height: 360px;
  }
  main .informations .container .informations__for-what__img__handshake {
    transform: scale(0.8);
    top: -100px;
    left: -100px;
  }
  main .informations .container .informations__for-what__img__new {
    top: -15%;
    left: -15%;
  }
  main .informations .container .informations__with-who {
    margin: 150px 0;
  }
  main .informations .container .informations__with-who__text {
    padding-right: 50px;
  }
  main .informations .container .informations__with-who__text p {
    font-size: 16px;
  }
  main .informations .container .informations__with-who__img {
    height: 360px;
  }
  main .informations .container .informations__with-who__img img[alt=building] {
    left: -120%;
    top: -50%;
  }

  .form-section .container .form-section__form form {
    width: 70%;
  }
  .form-section .container .form-section__form form label input[type=text] {
    width: 255px;
  }

  footer .container .footer-items .footer-items__item:last-child {
    flex-wrap: wrap;
  }
  footer .container .footer-items .footer-items__item:last-child ul {
    flex-basis: 33%;
    padding: 0 0 0 5px;
  }
  footer .container .footer-items .footer-items__item:first-child ul {
    width: auto;
    padding: 0 20px 0 0;
  }
  footer .container .footer-items .footer-items__item:first-child ul .footer-items__map {
    width: 170px;
    height: 170px;
  }
}
@media only screen and (max-width: 992px) {
  main .home-banner .container .home-banner__content .controller {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  header nav.opened .container .hamburger span {
    background-color: #fff;
  }
  header nav.opened .container .hamburger span:nth-child(1) {
    top: 9px;
    width: 0%;
    left: 50%;
  }
  header nav.opened .container .hamburger span:nth-child(2) {
    transform: rotate(45deg);
  }
  header nav.opened .container .hamburger span:nth-child(3) {
    transform: rotate(-45deg);
  }
  header nav.opened .container .hamburger span:nth-child(4) {
    top: 9px;
    width: 0%;
    left: 50%;
  }
  header nav.opened .container .hamburger ul {
    width: 50%;
    display: block;
    text-align: center;
  }
  header nav.opened .container .hamburger ul li {
    display: block;
    float: none;
    text-align: center;
    margin-bottom: 35px;
  }
  header nav.opened .container .hamburger ul li:first-child {
    margin-top: 80px;
  }
  header nav.opened .container .hamburger ul li:last-child {
    margin-right: 20px;
  }
  header nav .container .hamburger {
    display: block;
    top: 25px;
    right: 40px;
    width: 30px;
    height: 25px;
    position: absolute;
    transform: rotate(0deg);
    cursor: pointer;
    z-index: 1;
    margin-top: 15px;
  }
  header nav .container .hamburger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.3s;
  }
  header nav .container .hamburger span:nth-child(1) {
    top: 0px;
  }
  header nav .container .hamburger span:nth-child(2) {
    top: 9px;
  }
  header nav .container .hamburger span:nth-child(3) {
    top: 9px;
  }
  header nav .container .hamburger span:nth-child(4) {
    top: 18px;
  }
  header nav .container ul {
    height: 340px;
    overflow: hidden;
    position: absolute;
    transition: 0.5s;
    right: 0;
    background-color: #61584c;
    width: 0;
    top: -50px;
    margin: 0;
    box-shadow: 0px 2px 30px -8px rgba(0, 0, 0, 0.75);
  }
  header nav .container ul li {
    display: none;
  }

  main .home-banner .container .home-banner__content__slider-box__slider__slide h2 {
    font-size: 36px;
  }
  main .home-banner .container .home-banner__content__slider-box__slider__slide a {
    font-size: 14px;
  }
  main .home-banner .container .home-banner__content__slider-box__slider__slide .btn.first {
    width: 180px;
  }
  main .home-banner .container .home-banner__content__slider-box__slider__slide .btn.second {
    width: 220px;
  }
  main .home-banner .container .informations .container .informations__for-whom {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  main .home-banner .container .informations .container .informations__for-whom__text {
    flex-basis: 100%;
    margin-bottom: 50px;
    padding: 0 25px 0 25px;
  }
  main .home-banner .container .informations .container .informations__for-whom__text h2 {
    text-align: center;
  }
  main .home-banner .container .informations .container .informations__for-whom__text ol li {
    font-size: 16px;
  }
  main .home-banner .container .informations .container .informations__for-whom__text ol li i {
    margin-left: 75px;
  }
  main .home-banner .container .informations .container .informations__for-whom__img {
    flex-basis: 360px;
  }
  main .home-banner .container .informations .container .informations__for-whom__img img {
    top: -130px;
    left: -50px;
    transform: scale(0.9);
  }
  main .home-banner .container .informations .container .informations__for-what {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  main .home-banner .container .informations .container .informations__for-what__img {
    flex-basis: 360px;
  }
  main .home-banner .container .informations .container .informations__for-what__text {
    flex-basis: 100%;
    order: -1;
    margin-bottom: 50px;
    padding: 0 25px 0 25px;
  }
  main .home-banner .container .informations .container .informations__for-what__text h2 {
    text-align: center;
  }
  main .home-banner .container .informations .container .informations__with-who {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  main .home-banner .container .informations .container .informations__with-who__text {
    flex-basis: 100%;
    margin-bottom: 50px;
    padding: 0 25px 0 25px;
  }
  main .home-banner .container .informations .container .informations__with-who__text h2 {
    text-align: center;
  }
  main .home-banner .container .informations .container .informations__with-who__img {
    flex-basis: 360px;
  }
  main .home-banner .container .informations .container .informations__with-who__img img[alt=building] {
    left: -100%;
    top: -55%;
  }
  main .home-banner .container .popup .content .close-btn {
    right: 0px;
  }

  .form-section .container .form-section__form form label {
    width: 100%;
  }
  .form-section .container .form-section__form form label input[type=text] {
    width: 100%;
  }

  footer .container .footer-items__item ul .footer-items__map {
    display: none;
  }
  footer .container .footer-items__item:first-child {
    width: 150px;
    margin: 0 10px 0 auto;
  }
  footer .container .footer-items__item:first-child ul {
    padding: 0;
  }
  footer .container .footer-items__item:last-child {
    margin: 0 auto 0 0;
  }
  footer .container .footer-items__item:last-child ul li {
    display: none;
  }
  footer .container .footer-items__item:last-child ul li:first-child {
    display: block;
  }
  footer .container .footer-items__item:last-child ul li:first-child span {
    position: relative;
  }
  footer .container .footer-items__item:last-child ul li:first-child span::after {
    content: "❮";
    display: block;
    position: absolute;
    top: -5px;
    right: -20px;
    transform: rotate(270deg);
    font-size: 15px;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    font-weight: 400;
  }
  footer .container .footer-items__item:last-child ul.active li {
    display: block;
  }
  footer .container .footer-items__item:last-child ul.active li:first-child span::after {
    content: "❮";
    display: block;
    position: absolute;
    top: -5px;
    right: -20px;
    transform: rotate(450deg);
    font-size: 15px;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    font-weight: 400;
  }
}
@media only screen and (max-width: 600px) {
  header nav.opened .container ul {
    width: 65%;
  }
  header nav.opened .container ul li {
    margin-right: 60px;
  }
  header nav.opened .container ul li:last-child {
    margin-right: 60px;
  }

  main .home-banner .container .home-banner__content__slider-box__slider__slide h2 {
    font-size: 28px;
  }
  main .home-banner .container .home-banner__content__slider-box__slider__slide a {
    font-size: 12px;
  }
  main .home-banner .container .home-banner__content__slider-box__slider__slide .btn.second {
    width: 190px;
  }
  main .home-banner .container .home-banner__content__slider-box__slider__slide .btn.first {
    width: 155px;
  }
  main .home-banner .container .home-banner__content .informations .container .informations__for-whom {
    margin-top: 100px;
  }
  main .home-banner .container .home-banner__content .informations .container .informations__for-what {
    margin-top: 100px;
  }
  main .home-banner .container .home-banner__content .informations .container .informations__with-who {
    margin-top: 100px;
  }
  main .home-banner .container .home-banner__content .popup .content {
    width: 100%;
  }
  main .home-banner .container .home-banner__content .popup .content iframe {
    width: 100%;
  }

  footer .container .footer-items {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  footer .container .footer-items__item:first-child {
    order: 2;
    flex-basis: 100%;
  }
  footer .container .footer-items__item:first-child ul {
    margin: 0 auto;
    width: 150px;
  }
  footer .container .footer-items__item:last-child {
    margin: 0;
  }
}
@media only screen and (max-width: 450px) {
  header nav .container .hamburger {
    margin-top: 0px;
  }
  header nav .container img {
    width: 60px;
  }
  header nav.opened .container ul {
    width: 100%;
  }
  header nav.opened .container ul li {
    margin-right: 60px;
  }
  header nav.opened .container ul li:last-child {
    margin-right: 60px;
  }

  main .home-banner .container .home-banner__content__slider-box {
    width: 400px;
  }
  main .home-banner .container .home-banner__content__slider-box__slider__slide {
    width: 400px;
  }
  main .home-banner .container .home-banner__content__slider-box__slider__slide h2 {
    font-size: 20px;
  }
  main .home-banner .container .home-banner__content__slider-box__slider__slide a {
    font-size: 10px;
  }
  main .home-banner .container .home-banner__content__slider-box__slider__slide .btn {
    margin-right: 10px;
  }
  main .home-banner .container .home-banner__content__slider-box__slider__slide .btn.second {
    width: 155px;
  }
  main .home-banner .container .home-banner__content__slider-box__slider__slide .btn.first {
    width: 140px;
  }
  main .informations .container .informations__for-whom__text {
    padding: 0 10px 0 10px;
  }
  main .informations .container .informations__for-whom__text h2 {
    font-size: 30px;
  }
  main .informations .container .informations__for-whom__text p {
    font-size: 14px;
  }
  main .informations .container .informations__for-whom__text ol li {
    font-size: 14px;
  }
  main .informations .container .informations__for-whom__text ol li i {
    margin-left: 50px;
  }
  main .informations .container .informations__for-what__text {
    padding: 0 10px 0 10px;
  }
  main .informations .container .informations__for-what__text h2 {
    font-size: 30px;
  }
  main .informations .container .informations__for-what__text p {
    font-size: 14px;
  }
  main .informations .container .informations__with-who__text {
    padding: 0 10px 0 10px;
  }
  main .informations .container .informations__with-who__text h2 {
    font-size: 30px;
  }
  main .informations .container .informations__with-who__text p {
    font-size: 14px;
  }

  footer .container .footer-items__item:last-child ul {
    flex-basis: 100%;
    margin-left: 40px;
  }
}

/*# sourceMappingURL=index.css.map */
