* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 300vh;
    overflow-x: hidden;
    font-family: muli, sans-serif;
}

.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    position: relative;
    width: 100%;
}

a {
    text-decoration: none;
}

.bg {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);

    img {
        position: absolute;
        top: -10%;
        object-fit: cover;
        width: 120%;
        height: 120%;
        z-index: -1;
        opacity: 1;
    }
}

header {
    nav {
        position: fixed;
        width: 100%;
        padding-top: 40px;
        top: 0;
        z-index: 10;
        transition: .5s;

        &.sticky {
            padding: 5px 0;
            background-color: rgb(0, 25, 39);
            box-shadow: 0px 5px 25px -6px rgba(0, 0, 0, 0.75);
        }

        .container {
            display: flex;
            justify-content: space-between;
            align-items:center;

            img {
                width: 90px;
            }
    
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;

                li {
                    margin: 0 40px;
                    
                    a {
                        color: white;
                        font-size: 16px;

                        &::after {
                            content: '';
                            display: block;
                            width: 0;
                            height: 1px;
                            background: white;
                            transition: width .5s;
                        }

                        &:hover::after {
                            width: 100%;
                        }
                    }
                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }
        }
    }   
}

main {
    width: 100%;
    .home-banner {
        height: 100vh;
        .container {
            padding-top: 1px;
            margin-top: -1px;
            height: 100%;
            .text-content {
                color: white;
                position: absolute;
                top: 60%;
                left: 0;
                transform: translateY(-50%);     

                h1 {
                    font-size: 40px;
                    font-weight: 200;

                    p {
                        display: block;
                        color: #00b6dc;
                        margin: 20px 0;
                    }
                }

                .btn {
                    width: 200px;
                    padding: 20px 0;
                    margin-right: 20px;
                    border-radius: 30px;
                    text-transform: uppercase;
                    font-weight: 400;
                    display: inline-block;
                    text-align: center;
                    border: 2px solid rgb(240, 243, 245);
                    transition: .5s;

                    &.first {
                        background-color: rgb(255,255,255);
                        width: 190px;
                        color: #002841;

                        &:hover {
                            color: white;
                            background-color: transparent;
                        }
                    }

                    &.second {
                        background-color: transparent;
                        color: white;
                        width: 230px;

                        &:hover {
                            color: #002841; 
                            background-color: white;
                        }
                    }
                }
                
                .slider-box {
                    width: 650px; 
                    overflow: hidden; 
                    .slider {
                        display: inline-flex;
                        transition: 0.5s;
                        .slide {
                            width: 650px
                        }
                    }
                }

                .controller {
                    position: absolute;
                    top: 0;
                    right: -100%;
                    display: flex;
                    flex-direction: column;

                    .radio {
                        margin: 15px 0;
                        width: 12px;
                        height: 12px;
                        background-color: white;
                        border-radius: 50%;
                        cursor: pointer;
                        transition: 0.5s background-color;

                        &.active {
                            background-color: orange;
                        }

                        &:hover {
                            border: 2px solid orange;
                        }
                    }
                }

                i {
                    margin-top: 90px;
                    font-size: 30px;
                    cursor: pointer;
                    margin-right: 15px;
                    transition: 0.5s;

                    &:hover {
                        color: orange;
                    }
                }
                
            }
        }
    }

    .informations {
        .container{
            .informations__for-whom {
                display: flex;
                margin-top: 200px;

                &__text {
                    flex-basis: 59%;
                    padding-right: 70px;
                    font-size: 18px;
                    line-height: 1.778;
                    color: rgb(51, 51, 51);

                    h2 {
                        font-size: 36px;
                        color: rgb(0, 40, 65);
                        margin-top: 0px;
                    }

                    &__title-list {
                        margin-top: 70px;
                    }

                    ol {
                        list-style-type: none;
                        li {
                            margin-bottom: 20px;
                            i{
                                font-size: 18px;
                                margin-left: 35px;
                                color: lightskyblue;
                            }
                        }
                    }
                }

                &__img {
                    flex-basis: 41%;
                    height: 510px;
                    overflow: hidden;
                    position: relative;
                    box-shadow: 0px 11px 35px 0px rgba(95, 95, 95, 0.22);

                    img{
                        // position: absolute;
                    }
                }
            }

            .informations__for-what {
                display: flex;
                margin-top: 200px;

                &__text {
                    flex-basis: 59%;
                    padding-left: 70px;
                    font-size: 18px;
                    line-height: 1.778;
                    color: rgb(51, 51, 51);

                    h2 {
                        font-size: 36px;
                        color: rgb(0, 40, 65);
                        margin-top: 0px;
                    }
                }

                &__img {
                    flex-basis: 41%;
                    height: 510px;
                    overflow: hidden;
                    position: relative;
                    box-shadow: 0px 11px 35px 0px rgba(95, 95, 95, 0.22);

                    &__handshake {
                        top: -27%;
                        z-index: -2;
                    }

                    &__new {
                        top: -10%;
                        left: -10%;
                        z-index: -1;
                    }

                    img{
                        position: absolute;
                    }

                    p {
                        position: absolute;
                        top: 4%;
                        z-index: 1;
                        font-size: 26px;
                        font-weight: bold;
                        color: white;
                        transform: rotate(315deg);
                    }
                }
            }

            .informations__with-who {
                display: flex;
                margin-top: 200px;
                &__text {
                    flex-basis: 59%;
                    padding-right: 70px;
                    font-size: 18px;
                    line-height: 1.778;
                    color: rgb(51, 51, 51);
                    h2 {
                        font-size: 36px;
                        color: rgb(0, 40, 65);
                        margin-top: 0px;
                    }
                }

                &__img {
                    flex-basis: 41%;
                    height: 510px;
                    overflow: hidden;
                    position: relative;
                    box-shadow: 0px 11px 35px 0px rgba(95, 95, 95, 0.22);
                    z-index: 1;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.5);
                    }
                    img {
                        &[alt="building"]{
                            position: absolute;
                            left: -80%;
                            top: -20%;
                            z-index: -1;
                        }
                        &[alt="play"] {
                            position: absolute;
                            top: 51%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            z-index: 2;
                            cursor: pointer;
                            border-radius: 50%;
                            transition: .5s;

                            &:hover {
                                background-color: rgba(0, 182, 220, .2);
                            }                         
                        }
                    }
                }
            }
        }
    }

    .popup {
        &.active {
            .overlay {
                display: block;
            }

            .content {
                display: block;
            }
        }
        
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0,0,0,0.7);
            z-index: 1;
            display: none;
        }


        .content {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 2;
            text-align: center;

            .close-btn {
                position: absolute;
                right: -50px;
                top: -60px;
                color: white;
                font-size: 46px;
                border-radius: 50%;
                cursor: pointer;
            }
        }
    }
}

.form-section {
    background-color: rgb(245, 248, 250);
    padding: 50px 0;
    .container {
        .form-section__form {
            text-align: center;
            h3 {
                color: rgb(51, 51, 51);
                font-size: 18px;
            }

            p {
                color: #7b94a5;  

                &.checkbox-text {
                    margin-top: 0px;
                    padding-left: 15px;
                    text-align: left;
                    font-size: 10px;
                    color: rgb(0, 40, 65);
                    font-weight: bold;
                    line-height: 1.6;
                }
            }
            form {
                margin: 40px auto 0px;
                width: 50%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            
                label {
                    position: relative;       

                    input[type="text"], textarea {
                        background-color: white;
                        padding: 24px 12px 12px;
                        margin-bottom: 20px;
                        border-radius: 3px;
                        font-size: 16px;
                        width: 270px;
                        border: none;
                        appearance: none;
                        outline: none;
                        box-shadow: 0px 3px 6px 0px rgba(145, 154, 159, 0.08);
                        transition: 0.3s;

                        &[id="email"] {
                            width: 100%;
                        }
    
                        &:focus {
                            box-shadow: 0px 8px 8px 0px rgba(145, 154, 159, 0.16);  
                        }
    
                        &:focus::placeholder {
                            color: transparent;
                        }
    
                        &::placeholder {
                            color: #222;
                            transition: color 0.3s;    
                        }
                    }

                    input[type="checkbox"] {
                        background-color: red;
                        border: 1px solid red;
                    }

                    textarea {
                        width: 100%;
                        max-width: 100%;
                        min-width: 300px;
                        min-height: 100px;
                        max-height: 600px;
                    }
                    
                    .placeholder {
                        position: absolute;
                        left: 12px;
                        top: calc(50% - 10px);
                        transform: translateY(-50%);
                        color: #aaa;
                        transition: 0.3s;
                        cursor: text;

                        &.textarea {
                            top: 35px;
                        }
                    }

                    textarea:valid + .placeholder,
                    textarea:focus + .placeholder,
                    input:valid + .placeholder,
                    input:focus + .placeholder {
                        top: 15px;
                        font-size: 10px;
                    }
                }  
                
                input[type="submit"] {
                    width: 120px;
                    padding: 15px;
                    background-color: rgb(0, 182, 220);
                    box-shadow: 0px 11px 24px 0px rgba(0, 182, 220, 0.12);
                    border-radius: 25px;
                    border: none;
                    color: white;
                    font-size: 14px;
                    text-transform: uppercase;
                    margin: 40px auto 0;
                }
            }
        }
    }
}

footer {
    background-color: rgb(0, 25, 39);
    .container {
        .footer-items {
            padding-top: 90px;
            padding-bottom: 90px;
            display: flex;
            color: white;
            
            ul {
                font-size: 15px;
                text-align: left;
                padding: 0 55px 0 0;
                list-style-type: none;
                
                li {
                    margin: 20px 0;

                    &:first-child {
                        margin-top: 0px;
                    }
                    
                    a {
                        color: white;
                        position: relative;
                        overflow: hidden;
                        display: block;

                        &:hover {
                            span {
                                transform: translateY(-100%);
                            }
                        }
                        span {
                            display: block;
                            padding: 5px 0;
                            transition: 0.2s;

                            &:last-child {
                                position: absolute;
                                top: 100%;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                color: #00b6dc;
                            }
                        }
                    }
                }

                &:last-child {
                    padding-right: 0px;
                } 

                &:first-child {
                    width: 300px;
    
                    .footer-items__map {
                        position: relative;
                        width: 200px;
                        height: 200px;
                        border-radius: 50%;
                        overflow: hidden;
                        iframe {
                            position: absolute;
                            top: -240px;
                            left: -230px;
                        }
                    }

                    li {
                        margin: 15px 0;
                    }
                }
            }
        }
    }
}
